import DefaultImport1 from './mylib';
import DefaultImport2 from './mylib.js';

import {NamedImport as ni1} from './mylib';
import {NamedImport as ni2} from './mylib.js';

export * from  './mylib';
export * from  './mylib.js';

export {NamedImport as nii1} from  './mylib';
export {NamedImport as nii2} from  './mylib.js';

export {default as RenameImport1} from  './mylib';
export {default as RenameImport2} from  './mylib.js';
